<div class = "comment_form">
  <h2>Добавить комментарий</h2>
  <%= form_for [@post, @post.comments.build], :validate => true, :remote => true do |f| %>
    <div class="form-inputs">
      <div class = "name"><%= f.text_field :name, :placeholder => 'Имя' %></div>
      <div class = "email"><%= f.email_field :email, :placeholder => 'Почта' %></div>
      <div class = "content"><%= f.text_area :content %></div>
    </div>
  
    <div class="form-actions">
      <%= f.submit 'Отправить' %>
    </div>
  <% end %>
</div>
