<%= simple_form_for [@post, @post.paintings.build], :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :post_id, :as => :hidden %>
    <%= f.input :image, :multiple => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
