<p id="notice"><%= notice %></p>
<% meta :title => "#{@post.title} - Elcoding", :description => @post.meta_desc %>
<h1><%= @post.title %></h1>
<div class = "content-info">
  Автор: <b><%= @post.user.name %></b>
  <span class = "post-date"><%= @post.published_at.strftime('%d.%m.%y в %H:%M') %></span>

  <span class = "post-tags">
    <% @post.tags.any? %>
      <% @post.tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </span>
</div>
<div class = "content"><%= markdown(@post.body) %></div>


<div class = "comments">
  <% if (@post.comments.any?) %>
    <h2>Комментарии</h2>
    <% @post.comments.each_with_index do |comment, index| %>
      <div class = "comment" id = "comment-<%= index+1 %>">
        <div class = "gravatar"><%= gravatar_for comment.email %></div>
        <div class = "number"><%= link_to "##{index+1}", post_path(@post, :anchor => "comment-#{index+1}") %></div>
        <div class = "comment-author"><%= comment.name  %></div>
        <div class = "comment-date"><%= comment.created_at.strftime('%d.%m.%y в %H:%M') %></div>
        <% if signed_in? %>
          <div class = "edit-comment"><%= link_to "Edit", edit_post_comment_path(@post, comment) %></div>
        <% end %>
        <div class = "comment-text"><%= comment.content %></div>
      </div>
    <% end %>
  <% end %>
</div>
<%= render 'comments/form' %>

<%= render "shared/sidebar" %>
