<p id="notice"><%= notice %></p>
<% meta :title => "#{@post.title} - Elcoding", :description => @post.meta_desc %>
<h1><%= @post.title %></h1>
<div class = "content-info">
  Автор: <b><%= @post.user.name %></b>
  <span class = "post-date"><%= @post.published_at.strftime('%d.%m.%y в %H:%M') %></span>

  <span class = "post-tags">
    <% @post.tags.any? %>
      <% @post.tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </span>
</div>
<% if signed_in? %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", post_path(@post), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
<% end %>
<div class = "content"><%= markdown(@post.body) %></div>


<%= render "shared/sidebar" %>

<div id ="disqus_thread">
  <%= disqus_thread.html_safe %>
</div>
