<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<%= @post.published_at.strftime('%d.%m.%y в %H:%M') %>

<%= markdown(@post.body) %>

<b>Tags:</b>
<% @post.tags.any? %>
  <% @post.tags.each do |tag| %>
  <%= link_to tag.name, tag %>
<% end %>

<div class = "comments">
  <% if (@post.comments.any?) %>
    <h2>Комментарии</h2>
    <% @post.comments.each do |comment| %>
      <div class = "comment">
        <div class = "gravatar"><%= gravatar_for comment.email %></div>
        <div><b>Author:</b> <%= comment.name  %></div>
        <div><%= comment.created_at.strftime('%d.%m.%y в %H:%M') %></div>
        <div><%= comment.content %></div>
      </div>
    <% end %>
  <% end %>
</div>
<%= render 'comments/form' %>

<%= render "sidebar" %>
