<!DOCTYPE html>
<html>
<head>
  <%= metamagic :title => "Elcoding", :description => "Блог начинающего разработчика на Ruby on Rails и сопутствующих технологиях. Хотите узнать больше о Ruby on Rails, Jquery, Unix, Vim и много другом, тогда добро пожаловать! " %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if IE]>
    <style>
      body {
      height:auto !important;
      min-height:100%;
      height:100%;
      position:relative;
      }
    </style>
  <![endif]-->
</head>
<body>
  <div id="page_bg">
    <div class = "wrap">
      <div class = "auth">
        <% if user_signed_in? %>
          <%= current_user.email %>
          <%= link_to "Logout", logout_path %>
        <% end %>
      </div>
      <div class = "header">
        <div class = "sitename">
          <%= link_to 'Alexander Kochergin', root_path %>
        </div>
        <div class = "slogan">
          Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
        </div>
      </div>
      <div class = "container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
      <div class = "sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
    <div class = "under_content">
      <%= yield :under_content %>
    </div>
  </div>
    <div class = "footer">
      <p>Банальные фразы, такие как "Все права защищены" решил не писать, поэтому футер пустой</p>
    </div>
</div>
<%= render 'shared/metrika' if Rails.env.production? %>
</body>
</html>
